<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>

        <File name="file" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="com.filippov.Network" level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>\
            <AppenderRef ref="file"></AppenderRef>
        </Logger>
        <Logger name="com.filippov.Handlers.ClientAnswerHandler" level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>\
            <AppenderRef ref="file"></AppenderRef>
        </Logger>
        <Root level="error">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>

    </Loggers>
</Configuration>